* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  background-color: black;
}

/******HEADER**********************/

header {
  background-image: url("./img/KHC_HTB_french_press_hero_3600x2000_1.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 100%;
  width: 100%;
}
.grid-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "grid-navegation  grid-logo grid-iconos";
  align-items: center;
  justify-items: center;
}
.grid-nav:hover {
  background-color: black;
}
/***MENU DE NAVEGACION***********/
.grid-navegation {
  grid-area: grid-navegation;
  padding: 10px;
}
.navbar {
  color: #fff;
}

.navbar-container {
  display: flex;
  flex-direction: column;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  transition: max-height 0.3s ease;
  overflow: hidden;
  max-height: 0;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 5px;
}
.nav-menu li a:hover {
  color: rgba(183, 218, 240, 0.616);
  border-bottom: 1px solid #fff;
}

.menu-toggle:checked + .menu-icon + .nav-menu {
  max-height: 300px; /* Ajusta según la cantidad de contenido */
}
/****LOGO*************************************/
.grid-logo {
  grid-area: grid-logo;
}
.logo {
  background-color: transparent;
}

/*****ICONOS CARRITOS DE COMPRAS - LOGIN - IDIOMA**************/
.grid-iconos {
  grid-area: grid-iconos;
}
.nav-menu-icons {
  display: flex;
  justify-content: end;
}
.nav-menu-icons li {
  list-style: none;
  padding: 10px;
}
.nav-menu-icons li a {
  color: #fff;
  text-decoration: none;
}

/**MEDIA QUERY HEADER -NAV *****************/
@media (max-width: 768px) {
  header {
    background-position: 70%;
  }

  .grid-nav:hover {
    background-color: black;

  }
  /***MENU DESPLEGABLE********************/
  .menu-icon {
    display: block;
  }
  .nav-menu {
    height: 100vh;
    top:0;
    left: 0;
    display: none;
  }
  .menu-toggle:checked + .menu-icon + .nav-menu {
    display: block;
  }
  .nav-menu a {
    font-size: 10px;
    padding: 50px 0 0;
    letter-spacing: 2px;
    width:100px;
  }
  .nav-menu li {
    margin: 0;
  }
  .nav-menu-icons {
    font-size: 10px;
    padding: 0;
  }
}

/***PARA QUE EL MENU SE VEA COMPLETO********/
@media (min-width: 769px) {
  .nav-menu {
    display: flex;
    flex-direction: row;
    max-height: none;
  }

  .menu-icon {
    display: none;
  }
}
/**TITULO PRINCIPAL**********/
.titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
  padding: 1.875rem;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
}
@media (max-width: 768px) {
  .titulo {
    font-size: 1.5rem;
  }
}
/***CONTENIDO PRINCIPAL*************/
main {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 60px;
}
main p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
main h2 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}
/**GALERIA DE PRODUCTOS**********/
.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border: 1px solid rgba(183, 218, 240, 0.616);
  padding: 3rem;
}
.container-box p {
  padding: 0.5rem;
}
/***BOX PRODUCTO*********/
.box-product {
  display: flex;
  justify-content: center;
}
.box-img {
  width: 6.25rem;
}
.box-img:hover {
  transform: scale(1.1);
}

/***CONTAINER ARTICLE**************/
.container-article {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: aliceblue;
  padding: 10rem;
}
.container-article p {
  color: rgb(0, 0, 0);
}
input {
  padding: 1rem;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  background: transparent;
}
/***BOTON DE COMPRAR*********/
button {
  background-color: rgba(183, 218, 240, 0.616);
  border: none;
  padding: 1rem;
}
button,
p {
  color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button:hover {
  transform: scale(1.1);
}
/*****CONTAINER SECTION*************/
.container-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40rem;
  justify-items: center;
  align-items: center;
}
.container-section img {
  min-width: 100%;
  width: 20rem;
  height: 20rem;
}
.container-section p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  padding: 0.625rem;
}
.container-section a {
  color: rgb(238, 236, 236);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  display: block;
  margin: 30px;
}
.container-section a:hover {
  color: rgba(183, 218, 240, 0.616);
}

section h2 {
  color: rgb(238, 236, 236);
  text-align: center;
  font-size: 1.875rem;
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
/***MEDIA QUERY***************/
@media (max-width: 768px) {
  .container-section {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}
/***FOOTER************/
.container-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 18.75rem;
  justify-items: center;
  align-items: center;
}
.footer-box ul li > a {
  color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
}
.footer-box ul li {
  list-style: none;
}
.box-tittle {
  padding: 10px 0;
  font-size: 25px;
}
h5 {
  text-align: center;
  color: aliceblue;
  padding: 10px;
}
/***MEDIA QUERY***************/
@media (max-width: 768px) {
  .container-footer {
    grid-template-columns: 1fr;
    justify-items: start;
    align-items: center;
  }
}
/***DIV FLOTANTE*************/
.div-flotante {
  display: flex;
  flex-direction: column;
}
.div-flotante-icone {
  right: 0;
  background-color: #fff;
}
.fa-solid {
  padding: 5px;
  color: aqua;
}
